.topic {
    background-color: rgb(158, 230, 158);
    padding: 3px;
    font-weight: bolder;
    color: rgb(83, 82, 82);
}

.articleName {
  margin: 10px;
  padding: 10px;
  border-left: solid black;
}

.metadata {
  font-style: italic;
}

.backButton {
  width: 7vw;
  margin: 0 0 8px 0;
}